.cv{
    display: flex;
}
body{
    margin: 10%;
    font-family:'Times New Roman';
    text-align: justify;

}
.p1{
    background-color: rgb(199, 210, 220);
    padding-left: 10px;
}.p2{

    padding-left: 10px;
    background-color: azure;
}

.img{
    border-radius: 100%;
}
